<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="accountStyle.css"/>
        <script src = "utilities.js"></script>
        <title>Scanaryo</title>
    </head>

    <body>
        <main>
            <section id = "title" class = "wraper">
                <h1>Scanaryo</h1>
            </section>

            <section id = "holderField" class = "wraper">
                <form class = "formBox" style = "height: fit-content;">
                    <p class = "formTitle">Log in</p>
                    <p class = "text">Enter your ID</p>
                    <input type = "password" class = "textbox" name="password">
                    <!-- <p id = "error" style = "color: rgb(90, 1, 1); margin: 0px; padding: 0px; "><%=login_error%></p> -->
                    <br>
                    <input type = "Submit" class = "actionButton " style="font-size: 30px;" value="Login">
                </form>
            </section>

            <section id = "footer" class = "wraper">
                <p>Contacts</p>
            </section>

        </main>

    </body>
</html>