<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="homeStyle.css"/>
    <title>PlaceHolder</title>
</head>

<body>
    <div id = "wraper">

        <h1 id = "title">PlaceHolder</h1>

        <div id = "holderField">
            <div id = "displayField">
                <p>this is a test text :D</p>
            </div>
            <div id = "buttonsField">
                <button>this is a test button :D</button>
            </div>
        </div>

        <div id = "footer">
            <p>this is the footer</p>
        </div>

    </div>

</body>