<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="indexStyle.css"/>
        <script src = "utilities.js"></script>
        <title>Scanaryo</title>
    <script>
        setTimeout(() => { location.reload()}, 10000)
        
    </script>
    </head>

    <body>
        <main>
            <section id = "title" class = "wraper">
                <h1>Scanaryo</h1>
            </section>

            <section id = "holderField" class = "wraper">
                <div id = "displayField">
                    <p>here your download will start</p>
                </div>
                <div id = "buttonsField">
                    <form method="get", action="/download">
                        <input type="submit" class="actionButton" id="downloadBtn" <%=disabled%> value="Download">
                    </form>
                    <form method="get", action="/logout">
                        <input type="submit" class = "actionButton" id = "downloadBtn" value="Log out">
                    </form>
                </div>
            </section>

            <section id = "footer" class = "wraper">
                <p>Contacts</p>
            </section>

        </main>

    </body>
</html>