*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
html, body{
    margin: 0;
    padding: 0;
}

#wraper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 75% 10%;
    grid-template-areas: 
    "a"
    "b"
    "c";
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#title{
    grid-area: a;
    background-color: beige;
    border-bottom: 4mm ridge rgba(211, 220, 50, .6);
    padding-top: 3%;
    margin: 0%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#holderField{
    grid-area: b;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#displayField{
    text-align: center;
    justify-content: center;
    text-decoration:none;
    height: 65%;
}

#buttonsField{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    justify-content: center;
}

.actionButton{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10%;
    color: #543a1d;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    background-color: rgb(207, 150, 28);
    height: 70%;
    width: 90%;
}

.actionButton:hover{
    background-color: #543a1d;
    color: rgb(207, 150, 28);
    transition: all 0.4s ease;
    cursor: pointer;
  }



#footer{
    grid-area: c;
    background-color: beige;
    border-top: 4mm ridge rgba(211, 220, 50, .6);
    padding-bottom: 3%;
    margin: 0%;
    text-align: center;
}