*{
    box-sizing: border-box;
}
  
html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:none;
    margin: 0;
    padding: 0;
}

h1{
    display: block;
}

.wraper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0 2%;
    align-items: center;
    padding: 2%;
}

#title{
    background-color: beige;
    border-bottom: 4mm ridge rgba(211, 220, 50, .6);
    padding-top: 2%;
    margin: 0%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

#holderField{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

#displayField{
    position: static;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    padding: 2%;
}

#buttonsField{
    padding-top: 25%;
    padding-bottom: 25%;
    display: flex;
    flex-direction: column;
    position: static;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    max-height: max-content;
}

.actionButton{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10%;
    color: #543a1d;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    background-color: rgb(207, 150, 28);
    height: 100%;
    width: 100%;
}

.actionButton:hover{
    background-color: #543a1d;
    color: rgb(207, 150, 28);
    transition: all 0.4s ease;
    cursor: pointer;
}

.actionButton:disabled{
    background-color: #292929;
    color: rgb(81, 81, 81);
    cursor: not-allowed;
}



#footer{
    background-color: beige;
    border-top: 4mm ridge rgba(211, 220, 50, .6);
    padding-bottom: 2%;
    margin: 0%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    bottom: 0;

    /* background-color: beige;
    border-top: 4mm ridge rgba(211, 220, 50, .6);
    padding-bottom: 3%;
    margin: 0%;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: absolute; */
}