<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="indexStyle.css"/>
        <script src = "utilities.js"></script>
        <title>Scanaryo</title>
    </head>

    <body>
        <main>
            <section id = "title" class = "wraper">
                <h1>Scanaryo</h1>
            </section>

            <section id = "holderField" class = "wraper">
                <div id = "displayField">
                    <p>here your download will start</p>
                </div>
                <div id = "buttonsField">
                    <button class = "actionButton" id = "starScanBtn" onclick="initClone()">Start scan</button>
                    <button class = "actionButton" id = "downloadBtn" onclick="initDownload()" disabled>Download</button>
                    <button class = "actionButton" id = "visualizationBtn" onclick="initVisualization()" disabled>Visualize</button>
                </div>
            </section>

            <section id = "footer" class = "wraper">
                <p>Contacts</p>
            </section>

        </main>

    </body>
</html>