<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="accountStyle.css"/>
        <script src = "utilities.js"></script>
        <title>Scanaryo</title>
    </head>

    <body>
        <main>
            <section id = "title" class = "wraper">
                <h1>Scanaryo</h1>
            </section>

            <section id = "holderField" class = "wraper">
                <div>
                    <p class = "text" style = "margin-top: 25%; margin-bottom: 25%;">You have no scans yet D:</p>
                </div>
                <div id = "buttonsField">
                    <button class = "actionButton" id = "starScanBtn" onclick="window.location.href = '/index';">Go scan</button>
                </div>
            </section>

            <section id = "footer" class = "wraper">
                <p>Contacts</p>
            </section>

        </main>

    </body>
</html>